# push this comment to create .env file

DATABASE_URL=postgresql://admin:admin@localhost:5432/mydatabase
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret_key
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_MS=604800000

# STORAGE_TYPE=s3
# AWS_REGION=ap-southeast-1
# AWS_S3_BUCKET=your-bucket
# AWS_ACCESS_KEY_ID=...
# AWS_SECRET_ACCESS_KEY=...
# AWS_S3_PUBLIC_BASE_URL=https://your-cdn-or-bucket-url
